h1{
  text-align: center;
}

div.reg{
  background-color: #EEEEEE;
  margin-left: 15%;
  margin-right: 15%;
}

table.reg_form{
  width: 100%;
  border-spacing: 10px 30px;
  padding-left:20px;
}


.myclass {
  color: #fff;
  background-color: rgb(66, 81, 150);
  padding: 15px ;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-top: 20px;
}

#heart-icon {
  font-size: 27px;
  display: block;
}

.fas {
  color: rgb(66, 81, 150);
}


.like-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px 25px;
}

.like-button:hover {
  background-color: rgb(233, 231, 231);
}

.container .fixed {
  display: flex;
}

.left-column {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.right-column {
  flex: 1;
  overflow-y: auto;
}

.comment-user {
  margin-bottom: 0;
}
.comment-text {
  margin-left: 20px;
}
.comment-btn {
  margin-top: 10px;
}
.comment-count {
  color: #939393;
}

.header-back {
  background-color: rgb(66, 81, 150);
  margin-bottom: 50px;
}

.header-right {
  color: #fff;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  position: relative
}

.header-right::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s ease; /* トランジション効果の設定 */
}

.header-right:hover {
  color: #fff;
}
.header-right:hover::after {
  width: 100%;
}

.logout {
  margin-right: 40px;
}

.footer-m {
  margin-top: 100px;
}

.similar-headline {
  margin: 30px auto;
  letter-spacing: 2px;
  color: #939393;
}

.product-item {
  width: 250px;
  height: 250px;
}
/* 画像サイズ */
.uniform-image-size {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;

}
.uniform-image-size:hover {
  transition: transform 0.3s ease;
  transform: translateY(5px);
}

.similar-item {
  color: #6e6d6d;
}
.similar-link {
  text-decoration: none;
}

.left-column {
  width: 450px;
  height: 600px;
}

.image-container {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}