<!DOCTYPE html>
<html>
<head>
    <title>トップページ</title>
    <meta charset="UTF-8"> <!-- 文字エンコーディングを指定 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- レスポンシブデザインのためのビューポート設定 -->
    <link rel="stylesheet" href="/static/css/style.css"> <!-- CSSファイルのリンク -->
    <script src="/static/js/script.js"></script> <!-- JavaScriptファイルのリンク -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
　<body>　
  　<header class="bg-primary text-light py-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 text-left">
                <h1>food exchange</h1>
            </div>
            <div class="col-md-6 text-right">
                <a href="/signup" class="btn btn-light">新規登録</a>
                <a href="/login" class="btn btn-light">ログイン</a>
            </div>
        </div>
    </div>
</header>
　　<!-- ボディ -->
　　
　　<!-- フッター -->
　　<footer class="bg-light text-center py-3">
　　    <p>© 2023 My Website. All rights reserved.</p>
　　</footer>　
　　<!-- Bootstrap JavaScript -->
　　<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
　　<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>
