{% extends 'base.html' %}
{% block title %}food_information{{ item.id }}{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
      <div class="col-md-6">
          <img src="{{ item.image.url }}" alt="{{ item.name }}" class="image-container" >
      </div>
      <div class="col-md-6">
          <h2>{{ item.name }}</h2>
          <h3>消費期限：{{ item.deadline }}まで</h3>
          <h3>個数:{{ item.quantity }}個</h3>

          <button class="like-button" onclick="likeButtonClicked()">
            <i class="{% if is_liked %}fas{% else %}far{% endif %} fa-heart" id="heart-icon"></i>
            <span class="like-count">{{ item.like_count }}</span>
          </button>

          <button class="like-button">
            <i class="far fa-comment-alt" id="heart-icon"></i>
            <span>コメント</span>
          </button>

          <button class="myclass">ほしい！！</button>

          <form method="POST" action="{% url 'comment_item' item_id=item.id %}">
            {% csrf_token %}
            <textarea name="comment_text"></textarea>
            <input type="submit" value="コメントする">
          </form>
      </div>
  </div>
</div>

{% endblock %}

<script>
  function likeButtonClicked() {
  var itemId = "{{ item.id }}";

  $.ajax({
    type: "POST",
    url: "/like_item/" + itemId + "/",
    data: {
      item_id: itemId,
      csrfmiddlewaretoken: "{{ csrf_token }}",
    },
    success: function(response) {
        if (response.is_liked) {
          $("#heart-icon").removeClass("far").addClass("fas");
          $(".like-count").text(response.like_count);
        } else {
          $("#heart-icon").removeClass("fas").addClass("far");
          $(".like-count").text(response.like_count);
        }
      },
      error: function(xhr, status, error) {
        console.log(error);
      }
  });
  }
</script>