{% extends 'base.html' %}
{% block title %}food_information{{ item.id }}{% endblock %}
{% block content %}

<div class="container fixed">
  <div class="row">

      <div class="col-md-6 left-column">
          <img src="{{ item.image.url }}" alt="{{ item.name }}" class="image-container" >
      </div>

      <div class="col-md-6 right-column">
          <h2>{{ item.name }}</h2>
          <h3>消費期限：{{ item.deadline }}まで</h3>
          <h3>個数:{{ item.quantity }}個</h3>

          <button class="like-button" onclick="likeButtonClicked()">
            <i class="{% if is_liked %}fas{% else %}far{% endif %} fa-heart" id="heart-icon"></i>
            <span class="like-count">{{ item.like_count }}</span>
          </button>

          <button class="myclass">ほしい！！</button>

　　　　　　<h3 class="comment-count">コメント({{ comments.count }})</h2>

          <div id="comment-container">
            {% for comment in comments %}
              <p class="comment-user">{{ comment.user.username }}</p>
              <p class="comment-text">{{ comment.text }}</p>
            {% endfor %}
          </div>

          <form id="comment-form">
            {% csrf_token %}
            <input type="text" class="form-control" id="text" name="text" required>
            <button type="submit" class="btn btn-outline-secondary comment-btn">送信</button>
          </form>
      </div>
  </div>

  <div class="similar-products">
    <h3 class="similar-headline">類似商品</h3>
    <div class="row">
      {% for item in items %}
        {% if item.id != self_id %}
        <div class="col-md-3">
          <div class="product-item">
            <a href="/food_information/{{ item.id }}" class="similar-link">
              <img src="{{ item.image.url }}" alt="{{ item.name }}" class="uniform-image-size">
              <h4 class="similar-item">{{ item.name }}</h4>
            </a>

          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>

<script>
  var itemId = '{{ item.id }}';
  var csrfToken = '{{ csrf_token }}';
</script>

{% endblock %}
