{% extends 'base.html' %}
{% block title %}notification{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>通知</h1>
      {% for notification in notifications　reversed %}
      <div class="notification">
        <p class="content">
          {{ notification.content }}<br>
          {{ notification.timestamp }}
        </p>
      </div>
      {% endfor %}

      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <span class="current-page">{{ num }}</span>
            {% else %}
              <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>


    </div>
  </div>
</div>
{% endblock %}