{% extends 'base.html' %}
{% block title %}notification{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>通知</h1>
      {% for notification in page_obj %}
        <div class="notification">
          <p class="content">
            {{ notification.content }}<br>
            {{ notification.timestamp|date:"Y/n/j a g:i" }}
          </p>
        </div>
      {% endfor %}

      <nav class="paginate" aria-label="Page navigation">
        <ul class="pagination">
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="page-item active" aria-current="page">
                <a href="?page={{ num }}" class="page-link">{{ num }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a href="?page={{ num }}" class="page-link">{{ num }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>

{% endblock %}