{% extends "base.html" %}
{% block title %}プロフィール編集{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          プロフィール編集
        </div>
        <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">名前</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <br>
          <div class="form-group">
            <label for="region">居住区</label>
            <input type="text" class="form-control" id="region" name="region" required>
          </div>
          <br>
          <div class="form-group">
            <label for="image">画像</label>
            <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
          </div>
          <br>
          <div class="form-group">
            <label for="content">自己紹介</label>
            <textarea class="form-control" id="content" name="content" required></textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">登録</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}