{% extends "base.html" %}
{% block title %}プロフィール{% endblock %}

{% block content %}
<div class="container">
  <div class="profile-container">
    <div class="profile-detail">
      <img src="{{ profile.image.url }}" alt="{{ profile.name }}" class="profile-image-size">
      <div class="profile-info">
        <h3>{{ profile.name }}</h3>

          <a href="/profile_edit" class="profile-edit">プロフィール編集</a>

      </div>
    </div>
    <p>{{ profile.content }}</p>
  </div>

  <div class="separator"></div>

  <div class="row">
    {% for item in items %}
    <div class="col-md-3">
      <div class="product-item">
        <a href="/food_information/{{ item.id }}" class="similar-link">
          <img src="{{ item.image.url }}" alt="{{ item.name }}" class="uniform-image-size">
        </a>
      </div>
      <h4 class="similar-item">{{ item.name }}</h4>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}