{% extends "base.html" %}
{% block title %}カテゴリ検索{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="search-category">
      <h3>カテゴリー</h3>
      <div class="category-list">

        <a href="/search/?query=%E8%82%89">
          <div class="separatorr1 category-back">
            <p>肉</p>
          </div>
        </a>

        <a href="/search/?query=%E6%9E%9C%E7%89%A9">
          <div class="separatorr category-back">
            <p>果物</p>
          </div>
        </a>

        <a href="/search/?query=%E9%87%8E%E8%8F%9C">
          <div class="separatorr category-back">
            <p>野菜</p>
          </div>
        </a>
        <a href="/search/?query=%E9%AD%9A">
          <div class="separatorr category-back">
            <p>魚</p>
          </div>
        </a>
        <a href="/search/?query=%E3%81%8A%E8%8F%93%E5%AD%90">
          <div class="separatorr category-back">
            <p>お菓子</p>
          </div>
        </a>
        <a href="/search/?query=%E9%A3%B2%E3%81%BF%E7%89%A9">
          <div class="separatorr category-back">
            <p>飲み物</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}