{% extends "base.html" %}
{% block title %}カテゴリ検索{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="search-category">
      <h3>カテゴリー</h3>
      <div class="category-list">
        <div class="separatorr">
          <p>肉</p>
        </div>
        <div class="separatorr">
          <p>魚</p>
        </div>
        <div class="separatorr">
          <p>野菜</p>
        </div>
        <div class="separatorr">
          <p>果物</p>
        </div>
        <div class="separatorr">
          <p>お菓子</p>
        </div>
        <div class="separatorr">
          <p>飲み物</p>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="/search?category=肉" class="separator-link">
  <div class="separator">
    <p>肉</p>
  </div>
</a>

{% endblock %}