{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          新規登録
        </div>
        <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">名前</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <br>
          <div class="form-group">
            <label for="email">メールアドレス</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <br>
          <div class="form-group">
            <label for="password">パスワード</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">登録</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
