
{% extends "base.html" %}
{% block title %}トップページ{% endblock %}

{% block content %}
<header class="bg-primary text-light py-5">
    <div class="row justify-content-between">
        <div class="col-md-6 text-left">
            <h1>food exchange</h1>
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-6 text-light">
            <a href="/profile" class="btn btn-light">プロフィール</a>
            <a href="/register" class="btn btn-light">登録</a>
            <a href="search" class="btn btn-light">検索</a>

            <form method="post" action="/logout/">
                {% csrf_token %}
                <button type="submit" class="btn btn-light">ログアウト</button>
            </form>
        </div>

        {% else %}
        <div>
            <a href="/signup" class="btn btn-light">新規登録</a>
            <a href="/login" class="btn btn-light">ログイン</a>
        </div>
        {% endif %}
    </div>
</header>

<footer class="bg-light text-center py-3">
    <p>© 2023 My Website. All rights reserved.</p>
</footer>
{% endblock %}