{% extends 'base.html' %}
{% block title %}want{{ item.id }}{% endblock %}
{% block content %}
<div class="container">
  <div class="messa-container">
    <div class="message-field">
      <div class="profile-detail">
        <a href="/profile/{{ user1.user_id }}" class="message-link">
          <img src="{{ user1.image.url }}" alt="{{ user1.name }}" class="message-image-size">
          <h3 class="message-h3">{{ user1.name }}</h3>
        </a>
      </div>
      <div class="kugiri"></div>
      <div id="message-container">
        {% for message in messages %}
          <div class="profile-detail">
            <a href="/profile/{{ message.sender.profile.user_id }}" class="message-link">
              <img src="{{ message.sender.profile.image.url }}" alt="{{ message.sender.profile.name }}" class="messa-image-size">
            </a>
            <div class="message-info">
              <p class="sender-name">{{ message.sender.profile.name }}</p>
              <p class="message-timestamp">{{ message.timestamp }}</p>
              <p class="message-content">{{ message.content }}</p>
              {% if item.user != message.sender %}
                <button class="reply-btn message-reply" data-reply-to="{{ message.id }}"
                             data-reply-to-name="{{ message.sender.profile.name }}">返信する</button>
              {% endif %}
            </div>
          </div>
          <div class="kugiri"></div>
        {% endfor %}
      </div>
      <form id="message-form">
        {% csrf_token %}
        <textarea id="content" name="content"></textarea>
        <input type="hidden" id="reply_to" name="reply_to">
        <button type="submit" class="message-btn">メッセージを送信する</button>
      </form>
      {% if item.user == request.user %}
        <button class="confirm-btn" id="confirmButton">確定する</button>
      {% endif %}
    </div>
  </div>
</div>

<script>
  var itemid = '{{ item.id }}';
  var csrfToken = '{{ csrf_token }}';
</script>

{% endblock %}