{% extends 'base.html' %}
{% block title %}want{{ item.id }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">

      <div class="message-field">
        <div class="profile-detail">
          <img src="{{ user.image.url }}" alt="{{ user.name }}" class="message-image-size">
          <div class="profile-info">
            <h3>{{ user.name }}</h3>
          </div>
        </div>
        <form id="message-form">
          <textarea id="message"></textarea>
        </form>
      </div>

    </div>
  </div>

{% endblock %}